{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <div>
        <div class="text-center justify-content-center" style="padding-top: 50px">
        <h2>Hi {{ user.username }}!</h2>
        <a role="button" type="button" class="btn btn-dark" href="{% url 'profile' %}">Profile</a>
        {% if not user.is_superuser %}
            <a role="button" type="button" class="btn btn-dark" href="{% url 'transfer' %}" style="margin-left: 60px">Transfer</a>
        {% endif %}

        {% if user.is_superuser %}
            <a role="button" type="button" class="btn btn-dark" href="/admin/" style="margin-left: 60px">Admin</a>
        {% endif %}
    </div>
    </div>

{% else %}
    <div class="center" style="align-items: center; margin-left: 350px;">
        <h2>You are not logged in</h2>
        <a role="button" type="button" class="btn btn-dark" href="{% url 'login' %}" style="margin-left: 60px">Login</a>
    </div>

{% endif %}
{% endblock %}